body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    background-color: #000000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
}

main {
    margin-left: 200px; /* To avoid content being hidden under fixed side nav */
    padding: 1rem;
    width: calc(100% - 200px);
}

#menu-list {
    font-size: 3rem;
}

.section-head {
    color: red;
    font-size: 7rem;
    
    padding-left: 40px;
}
.red-shadow {
    text-shadow: 5px 10px rgba(256, 0, 0, 0.3);
}

.section {
    padding: 1rem;
    height: 100vh; /* Full viewport height */
}

#home {
    background-color: #000000;
    color: red;
    position: relative;
    p {
        position: absolute;
        right: 5%;
        top: 40%;
        color: rgb(255, 255, 152);
        text-shadow: 0px 0px 20px rgba(255, 239, 19, 1);
        font-size: 6rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
#my-name {
    position: absolute;
    font-size: 11rem;
    top: 10%;
    left: 5%;
}

.hero-image {
    margin: auto;
    height: 1300px;
    max-width: 100%;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#about {
    background-color: #000000;
    color: red;
    position: relative;
}
#about-section-para {
    width: 80%;
    padding-top: 20%;
    margin-left: 10%;
    color: white;
    font-size: 3rem;
    /* border: 5px solid blue; */
}
.section-container {
    display: flex;
}
/* .about-image {
    margin: auto;
    height: 500px;
    max-width: 100%;
    border: 5px solid blue;
} */
/* #about-image img {
    width: 70%;
    height: 70%;
    object-fit: contain;
} */
 .about-image {
    width: 100%;
    height: 800px;
    background-image: url('images/superchad_about.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 5px solid blue; */
 }
 .work-image {
    width: 50%;
    height: 600px;
    background-image: url('images/superchad_work_600.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 5px solid blue; */
 }
 .projects {
    /* border: 5px solid blue; */
    height: 45%;
    display: flex;
 }
 .project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a {
        margin: auto;
    }
}
.project-title {
    color: red;
    font-size: 4rem;
}
.project-description {
    color: white;
    font-size: 1.8rem;
    padding: 12px;
    margin: auto;
}
.project-image {
    width: 80%;
    height: 40%;
    
}
 #project-image-1{
    width: 100%;
    /* margin: auto; */
    height: 100%;
    background-image: url('images/project_images/Productivity_Ninja_Screenshot.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
 #project-image-2{
    width: 100%;
    margin: auto;
    height: 100%;
    background-image: url('images/project_images/employ-me-now-screenshot.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
 #project-image-3{
    width: 100%;
    margin: auto;
    height: 100%;
    background-image: url('images/project_images/meal_prep_screenshot.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
 #project-image-4{
    width: 100%;
    margin: auto;
    height: 100%;
    background-image: url('images/project_images/blog_screenshot.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
 .gh-link {
    height: 100%;
    width: 100%;
    margin: auto;
 }
 .gh-logo {
    color: white;
    margin: auto;
    height: 10%;
    width: 10%;
    background-image: url('images/project_images/github-mark-white.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
.skills {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.skill-list {
    font-size: 4rem;
    width: 50%;
    padding: 20px;
}
#skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.skills-image {
    height: 70%;
    width: 100%;
    background-image: url('images/superchad_skills.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#contact {
    background-color: #000000;
    color: red;
}
.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  